body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

/*СТИЛЬ ДЛЯ НЕВИДИМЫХ БЛОКОВ*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-menu__link.current__page {
    color: #766357;
}

/*КОНТЕЙНЕР ДЛЯ СОДЕРЖИМОГО СТРАНИЦЫ*/

.main-containter {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 5px #dbdbdb;
    box-shadow: 0 0 10px 5px #dbdbdb;
}

/*ОБЩИЙ СТИЛЬ ДЛЯ КНОПОК И ЭЛЕМЕНТОВ ПОД НЕГО МАСКИРУЮЩИХСЯ*/

.button {
    font: inherit;
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

/*СТИЛИ ГЛАВНОГО МЕНЮ*/

.main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    position: relative;
    margin: 0 auto;
}

.main-menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    font-weight: bold;
    list-style: none;
    width: 1200px;
    margin: 0;
    padding: 0 72px;
}

.main-menu__item {
    width: 240px;
    padding-top: 12px;
    padding-bottom: 17px;
}

.main-menu__list li:first-child { 
    text-align: left;
}

.main-menu__list li:nth-child(2) {
    text-align: left;
}

.main-menu__list li:nth-child(3) {
    text-align: right;
    padding-left: 92px;
}

.main-menu__list li:last-child {
    text-align: right;
    padding-left: 4px;
}  

.main-menu a {
    color: #000000;
}

.main-menu a:hover {
    color: #a3c7de;
}

.main-menu a:active {
    color: #b2b2b2;
}

.main-menu__logo {
    position: absolute;
    left: calc(50% - 69px); 
}

/*СТИЛИ ГЛАВНОГО РАЗДЕЛА*/
/*БЛОК С ПРОМО БАНЕРОМ*/

.promo__banner {
    width: 100%;
    min-height: 508px;
    background-color: #5c87af;
    background-image: url("../img/promo-mask.png"), url("../img/promo-background.jpg");
    background-position: 0 bottom, 0 -56px; 
    background-repeat: no-repeat;
}

.promo__banner img {
    padding-top: 76px;
}

.promo__title {
    font-size: 21px;
    font-weight: bold;
    margin-top: 60px;
    padding: 0 300px;
}

.promo__description {
    margin-top:27px;
}

/*СЕКЦИЯ С ПРИЧИНАМИ */

.advantages {
    padding-top: 38px;
}

.advantages__list,
.non-list__advantages {
    list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages__item {
    line-height: 21px;
    background-color: #efefef;
}

.advantages__description {
    width: 400px;
    min-height: 256px;
}

.advantages__item h2 {
    font-size: 21px;
    margin: 0;
    padding-top: 46px; 
    padding-bottom: 24px;
}

.advantages__item p {
    padding-top: 21px;
    margin: 0;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.advantages__list li:nth-child(3) p {
    padding-left: 48px;
    padding-right: 48px;
}

.advantages__list li:first-child h2 {
    padding-left: 93px;
    padding-right: 93px;
}

.advantages__item.detailed {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    background-color: #82b4d3;
    color: #ffffff;
}

.advantages__item.detailed img {
    width: 800px;
    height: 100%;
    background-color: #8B4513;
}

.non-list__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.non-list__item div {
    height: 100%;
    background-color: #ffffff;
}

.non-list__item svg{
    padding-top: 58px;
}

.non-list__item h2 {
    padding-top: 25px;
}

.non-list__item p {
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 83px;
}

/*СЕКЦИЯ С ФОРМОЙ ПОИСКА*/

.map {
    height:473px;
}

.search-hotels {
    position: relative;
    margin:0 auto;
}

.search-hotels__title {
    font-size: 30px;
    margin-top: 55px;
}

.search-hotels__text {
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 0;
}

/*СТИЛИ ФОРМЫ В БЛОКЕ ПОИСКА*/

.open-form {
    padding: 29px 140px;
    font-size: 21px;
    font-weight: bold;
    margin-top: 49px;
    margin-bottom:0;
}

.open-form:hover {
    background-color: #604e43;
}

.open-form:active {
    color: #76685f;
    background-color: #503e33;
}

.search-hotels__form {
    position: absolute;
    left: 0;
    right: 0;
    border: 0px;
    margin: 0 auto;
    padding: 54px;
    width: 458px;
    min-height: 285px;
    background-color: #ffffff;
}

.arrival,
.departure {
    margin-bottom: 28px;
    position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    align-items: center
}

.search-hotels__label {
    font-size:14px;
    vertical-align: middle;
    font-weight: bold
}

.form-input {
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
    width: 346px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    font-weight: bold;
    padding: 10px;
    padding-left: 12px;
}

.form-input:hover {
    background-color: #ececec;
    border: 2px solid #ececec;
}

.form-input:focus {
    border: 2px solid #e6e6e6;
    background-color: #ffffff;
    outline: none;
}

.form-input::placeholder {
    color: #000000;
} 

.calendar__button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.calendar__button path {
    fill: #a9a9a9;
}

.calendar__button:hover path {
    fill: #000000;
}

.calendar__button:active path {
    fill: #82b3d3;
}

.amount {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.adults__amount label {
    margin-right: 41px;
}

.children__amount,
.adults__amount {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    justify-content: center;
    align-items: center;
}

.children__amount {
    margin-left: auto;
}

.amount__input {
    width: 34px;
    height: 38px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    text-align:center;
    font-weight: bold;
}

.button.plus,
.button.minus {
    width:38px;
    height:38px;
    margin:0;
    padding:0;
    background-color: #f2f2f2;
    font-size: 21px;
    font-weight: bold;
    color: #aaaaaa
}

.button.plus:hover,
.button.minus:hover {
    color: #000000;
}

.button.plus:active,
.button.minus:active {
    color: #82b5d3;
}

.children__amount .button.minus {
    margin-left: 30px;
}

.search-hotels__button {
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    margin-top: 56px;
    width:100%;
    padding:15px 0;
}

.search-hotels__button:hover {
    background-color: #669ec0;
}

.search-hotels__button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

/*СТИЛИ ДЛЯ ЭЛЕМЕНТОВ ФУТЕРА*/

.footer {
    position: relative;
    z-index: 3;
    height:125px;
    background-color: rgba(255, 255, 255, 0.9);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    align-items: center;
}

/* CТИЛИ ХЕШТЕГА */

.hashtag {
    font-size: 21px;
    margin: 0;
    font-weight: bold;
    margin-left: 132px;
    margin-bottom: 8px;
}

/* CТИЛИ ИКОНОК СОЦ.СЕТЕЙ */

.social__list{
    list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    margin-left: 256px;
    padding: 0;
}

.social__item {
    position: relative;
    width: 46px;
    height: 48px;
    background-color: #82b5d3;
    margin-right: 7px;
}

.twitter svg {
    position:absolute;
    bottom: 33%;
    left: 33%;
}

.facebook svg {
    position:absolute;
    bottom: 29%;
    left: 35%;
}

.youtube svg {
    position:absolute;
    bottom: 33%;
    left: 27%;
}

.twitter:hover,
.facebook:hover,
.youtube:hover {
    background-color: #669fc2;
}

.twitter:active,
.facebook:active,
.youtube:active {
    background-color: #5397be;
}

.twitter:active path,
.facebook:active path,
.youtube:active path {
    fill: #82b5d3;
}

/* CТИЛИ БЛОКА КОПИРАЙТ */

.footer__copyright {
    margin-left: 220px;
    margin-bottom: 4px;
}

.copyright {
    padding: 0;
    margin: 0;
    color: #000000;
}

.copyright svg {
    display: inline-block;
    vertical-align: middle;
}

.copyright:hover path {
    fill: #81b3d2;
}

.copyright:active path {
    fill: #bdbbbc;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ CATALOG.HTML*/
/* СТИЛИ ДЛЯ СЕКЦИИ С ФИЛЬТРАМИ ПОИСКА */

.hotel-filters {
    background-image: url("../img/filter_background.jpg"); 
    background-color: #1e191a;
    background-repeat: no-repeat;
    background-position: 42%;
    line-height: 21px;
    color: #ffffff;
    width: 100%;
}

/*СТИЛИ ФОРМЫ*/

.hotel-filters__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding: 27px 70px 12px;
}

.hotel-filters__form fieldset:first-child {
    margin-right: 120px;
}

.hotel-filters__section {
    border: 0;
    margin: 0;
    padding: 0;
}

/*СЛОЖНАЯ ФОРМА*/
.hotel-filters__section.set-price {
    margin-left:auto;
    width: 318px;
}

.hotel-filters__section.set-price legend {
    margin-bottom: 9px;
}

.hotel-filters__price-range {
    position: relative;
    height: 33px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.hotel-filters__price-range::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.hotel-filters__price-range label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    width: 90px;
    padding-left:45px;
    padding-right:13px;
}

.catalog__label input::placeholder{
    color: #ffffff;
}

.hotel-filters__price-range input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;

}

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    display: none; 
    margin: 0; 
}

.hotel-filters__price-contorls {
    position: relative;
    margin-bottom: 32px;
}

.hotel-filters__price-contorls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.hotel-filters__price-contorls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.hotel-filters__checkbox {
    position: relative;
    text-align: left;
    margin-bottom: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    align-items: center;
    padding-left: 30px;
}

.hotel-filters legend {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px

}

.hotel-filters input[type="checkbox"] {
    opacity: 0;
}

.checkbox label::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 24px;
    content: "";
}

.filter__checkbox:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter__checkbox:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
}

.filter__checkbox:disabled + label::before {
    background-image: url(../img/checkbox-off-disabled.svg);
}

.filter__checkbox:checked:disabled + label::before {
    background-image: url(../img/checkbox-on-disabled.svg);
}

.hotel-search__button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 83px;
}

.hotel-search__button:hover {
    color: #000000;
    background: #ffffff;
}

/* БЛОК С ВЫБОРОМ СПОСОБОВ ОТОБРАЖЕНИЯ ОТЕЛЕЙ */

.hotel-sort__list {
    width: 848px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding: 0;
}

.hotel__selected {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 17px auto;
    padding: 0 72px;
}

.hotel__selected p {
    font-size: 21px;
    margin:0;
    padding:0;
}

.hotel__selected span {
    font-size: 12px;
    margin-left: 48px;
    margin-right: -32px;
}

.sort__types {
    list-style: none;
}

.sort-type__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 31px;
}

.sort-type__item.active a {
    color: #82b5d3;
    border: none;
}

.sort-type__item a {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #82b5d3;
    color:#b2b2b2;
}

.sort-type__item a:hover {
    color: #92bed9;
}

.sort-type__item a:active {
    color: #000000;
    border-bottom: none;
}

.hotel-sort__way {
    list-style: none;
    margin-left: auto;
}

.sort-way__item {
    display: inline-block;
    vertical-align: top;
}

.hotel-sort__way li:last-child {
    margin-left: 10px;
}

.sort-way__item path {
    fill: grey;
}

.sort-way__item:hover path {
    fill: black;
}

.sort-way__item:active path {
    fill: #92bed9
}

.sort-way__item.active path {
    fill: #92bed9
}

/* СЕКЦИЯ С НАЙДЕННЫМИ ОТЕЛЯМИ */

.hotels {
    width:100%;
    margin:0 auto;
}

.hotels__list {
    list-style: none;
    margin:0;
    padding:0;
}

.hotels__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding-top: 29px;
    padding-bottom: 18px;
    padding-right: 72px;
    padding-left: 72px;
    border-top: 1px solid #e5e5e5;
}

.hotels__list li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotels__item-main {
    text-align: left;
    margin-left: 30px;
}

.hotels__item-title {
    line-height: 12px;
    font-size: 21px;
    font-weight: bold;
    margin:0;
    padding:0;
}

.hotels__item-title:hover {
    color: #82b5d3;
}

.hotels__item-title:active {
    color: #b2b2b2;
}

.hotel__item-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 182px;
    margin-bottom: 12px;
    margin-top: 11px;
}


.hotel__item-text p {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 110px;
}

.hotels__item-price {
   margin-left: auto;
}

.about__button {
    background-color: #81b3d2;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 17px;
}

.about__button:hover {
    background-color: #669ec0;
}

.about__button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.rent__button {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 18px;
}

.rent__button:hover {
    background-color: #604e43;
}

.rent__button:active {
    color: #76685f;
    background-color: #503e33;
}

.hotels__item-rating {
    margin-left: auto;
}

.hotels__stars-grade {
    width: 18px;
    height: 18px;
    background-image: url("../img/star.svg"); 
    background-repeat: space;
    margin-left: auto;
}

.star-4pc {
    width: 89px;   
}

.star-3pc {
    width: 66px;   
}

.star-2pc {
    width: 42px;   
}

.hotels__text-grade {
    background-color: #f2f2f2;
    margin-top: 44px;
    margin-left: auto;
    padding: 0px 14px;
}

/*АНИМАЦИИ ФОРМЫ*/

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.form-bounce {
    animation: bounce 2s;
}

@keyframes shake {
	0%,
	100% {
	  transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
	  transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
	  transform: translateX(10px);
	}
}

.form-error {
	animation: shake 3s;
}
