body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

/*СТИЛЬ ДЛЯ НЕВИДИМЫХ БЛОКОВ*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*КОНТЕЙНЕР ДЛЯ СОДЕРЖИМОГО СТРАНИЦЫ*/

.main-containter {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #dbdbdb;
}

/*ОБЩИЙ СТИЛЬ ДЛЯ КНОПОК И ЭЛЕМЕНТОВ ПОД НЕГО МАСКИРУЮЩИХСЯ*/

.button {
    font: inherit;
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

/*СТИЛИ ГЛАВНОГО МЕНЮ*/

.main-menu {
    display: flex;
    margin: 0 auto;
}

.main-menu__list {
    font-weight: bold;
    list-style: none;
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0 72px;
}

.main-menu__item {
    width: 240px;
    padding-top: 12px;
    padding-bottom: 17px;
}

.main-menu__list li:first-child { 
    text-align: left;
}

.main-menu__list li:nth-child(2) {
    text-align: left;
}

.main-menu__list li:nth-child(3) {
    text-align: right;
    padding-left: 92px;
}

.main-menu__list li:last-child {
    text-align: right;
    padding-left: 4px;
}  

.main-menu a {
    color: #000000;
}

.main-menu a:hover {
    color: #a3c7de;
}

.main-menu a:active {
    color: #b2b2b2;
}

.main-menu__logo {
    position: absolute;
    left: calc(50% - 69px); 
}

/*СТИЛИ ГЛАВНОГО РАЗДЕЛА*/
/*БЛОК С ПРОМО БАНЕРОМ*/

.promo__banner {
    width: 100%;
    min-height: 508px;
    background-color: #5c87af;
    background-image: url("../img/promo-mask.png"), url("../img/promo-background.jpg");
    background-position: 0 bottom, 0 -56px; 
    background-repeat: no-repeat;
}

.promo__banner img {
    padding-top: 76px;
}

.promo__title {
	font-size: 21px;
    font-weight: bold;
    margin-top: 60px;
}

.promo__description {
    margin-top:27px;
}

/*СЕКЦИЯ С ПРИЧИНАМИ */

.advantages {
    padding-top: 38px;
}

.advantages__list,
.non-list__advantages {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages__item {
    line-height: 21px;
    background-color: #efefef;
}

.advantages__description {
    width: 400px;
    min-height: 256px;
}

.advantages__item h2 {
    font-size: 21px;
    margin: 0;
    padding-top: 46px; 
    padding-bottom: 24px;
}


.advantages__item p {
    padding-top: 21px;
    margin: 0;
    padding-bottom: 60px;
}

.advantages__item.detailed {
    display: flex;
    background-color: #82b4d3;
    color: #ffffff;
}

.advantages__item.detailed img {
    width: 800px;
}

.non-list__advantages {
    display: flex;
}

.non-list__item div {
    min-height:330px;
    background-color: #ffffff;
}

.non-list__item img{
    padding-top: 58px;
}

.non-list__item h2 {
    padding-top: 25px;
}

.non-list__item p {
    padding-top: 0px;
}



/*СЕКЦИЯ С ФОРМОЙ ПОИСКА*/

.search-hotels {
    position: relative;
    margin:0 auto;
}

.search-hotels__title {
    font-size: 30px;
    margin-top: 55px;
}

.search-hotels__text {
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 0;
}

.search-hotels label {
    font-weight: bold;
}

/*СТИЛИ ФОРМЫ В БЛОКЕ ПОИСКА*/

.search-hotels__form {
    position: absolute;
    left: 0;
    right: 0;
    border: 0px;
    margin: 0 auto;
    padding: 55px;
    width: 458px;
    min-height: 285px;
    background-color: #ffffff;
}

.search-hotels__button {
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
}

.search-hotels__button:hover {
    background-color: #669ec0;
}

.search-hotels__button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.open-form {
    padding: 29px 140px;
    font-size: 21px;
    font-weight: bold;
    margin-top: 49px;
    margin-bottom:0;
}

.open-form:hover {
    background-color: #604e43;
}

.open-form:active {
    color: #76685f;
    background-color: #503e33;
}

.form-input {
    border: none;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}

.form-input:hover {
    background-color: #ececec;
    border: 2px solid #ececec;
}

.form-input:focus {
    border: 2px solid #e6e6e6;
    background-color: #ffffff;
    outline: none;
}

.calendar-button {
    background-color: #ececec;
    opacity: 0.4;
}

.calendar-button:hover {
    opacity: 1;
}

.minus {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    background-color: #ececec;
    opacity: 0.4;
}

.minus:hover {
    opacity: 1;
}

.minus:active {
    color: #82b5d3;
}

.plus {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    background-color: #ececec;
    opacity: 0.4;
}

.plus:hover {
    opacity: 1;
}

.plus:active {
    color: #82b5d3;
}

/*СТИЛИ ДЛЯ ЭЛЕМЕНТОВ ФУТЕРА*/

.footer {
    position: relative;
    bottom:125px;
    height:125px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
}

/* CТИЛИ ХЕШТЕГА */

.hashtag {
    font-size: 21px;
    margin: 0;
    font-weight: bold;
    margin-left: 130px;
}

/* CТИЛИ ИКОНОК СОЦ.СЕТЕЙ */

.social__list{
    list-style: none;
    display: flex;
    margin-left: 256px;
    padding: 0;
}

.social__item {
    width: 46px;
    height: 48px;
    background-color: #82b5d3;
    margin-right: 7px;
}

.twitter:hover {
    background-color: #669fc2;
}

.twitter:active {
    background-color: #5397be;
}

.facebook:hover {
    background-color: #669fc2;
}
.facebook:active {
    background-color: #5397be;
}

.youtube:hover {
    background-color: #669fc2;
}

.youtube:active {
    background-color: #5397be;
}

/* CТИЛИ БЛОКА КОПИРАЙТ */

.footer__copyright {
    margin-left: 225px;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ CATALOG.HTML*/
/* СТИЛИ ДЛЯ СЕКЦИИ С ФИЛЬТРАМИ ПОИСКА */

.hotel-filters {
    line-height: 21px;
    color: #ffffff;
    background-image: url("../img/filter_background.jpg"); 
    background-repeat: no-repeat;
    background-position: 42%;
    width:100%;
}

/*СТИЛИ ФОРМЫ*/

.hotel-filters legend {
    font-size: 16px;
    font-weight: bold;
}


.hotel-filters input[type="checkbox"] {
    opacity: 0;
}

.hotel-search__button {
    border: 2px solid #ffffff;
    background: none;
}

.hotel-search__button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* БЛОК С ДОП.ПУНКТАМИ СОРТИРОВКИ */

.hotel__selected {
    display: flex;
    align-items: baseline;
    width: 1056px;
    margin: 30px auto;
    padding:0;
}

.hotel__selected p {
    font-size: 21px;
    margin:0;
    padding:0;
}

.hotel__selected span {
    font-size: 12px;
    margin-left: 54px;
}

.hotel-sort__list {
    display:flex;
    list-style: none;
    padding:0;
    margin-left: 43px;
}

.hotel-sort__item {
    margin-left: 33px;
}

.hotel-sort__item a {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #82b5d3;
    color:#b2b2b2;
}
.hotel-sort__item a:hover {
    color: #92bed9;
}
.hotel-sort__item a:active {
    color: #000000;
    border-bottom: none;
}

/* СЕКЦИЯ С НАЙДЕННЫМИ ОТЕЛЯМИ */

.hotels {
    width:1056px;
    margin:0 auto;
}

.hotels__list {
    list-style: none;
    margin:0;
    padding:0;
}

.hotels__item {
    display: flex; 
    align-items: flex-start;
    padding: 30px 0; 
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.hotels__item-main {
    text-align: left;
    margin-left: 30px;
}

.hotels__item-main p {
    line-height: 21px;
    margin: 0;
    padding: 0;
/*    display: inline-block;*/
}

.hotels__item-title {
    font-size: 21px;
    font-weight: bold;
    margin:0;
    padding:0;
}

.hotels__item-title:hover {
    color: #82b5d3;
}

.hotels__item-title:active {
    color: #b2b2b2;
}

.about__button {
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    padding:6px 14px;
}

.about__button:hover {
    background-color: #669ec0;
}

.about__button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.rent__button {
    font-size: 21px;
    font-weight: bold;
    padding:6px 14px;
}

.rent__button:hover {
    background-color: #604e43;
}

.rent__button:active {
    color: #76685f;
    background-color: #503e33;
}

.hotels__item-rating {
    margin-left: auto;
}

.hotels__stars-grade {
    width: 18px;
    height: 18px;
    background-image: url("../img/star.svg"); 
    background-repeat: space;
}

.star-4pc {
    width: 89px;   
}

.star-3pc {
    width: 66px;   
}

.star-2pc {
    width: 42px;   
}

.hotels__text-grade {
    background-color: #f2f2f2;
}


