body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}

.main-menu__list{
    font-weight: bold;
	list-style: none;
}

.main-menu a {
    color: #000000;
}

.main-menu a:hover {
    color: #a3c7de;
}

.main-menu a:active {
    color: #b2b2b2;
}

.main-banner {
    width: 1200px;
    height: 557px;
    background-color: #5c87af;
    background-image: url("../img/promo-mask.png"), url("../img/promo-background.jpg");
    background-position: 0 100%, 0; 
    background-repeat: no-repeat;
}

.advantages ul {
    list-style:none;
}

.promo__title {
	font-size:21px;
    font-weight:bold;
}


.advantages__item {
    line-height: 21px;
    background-color: #efefef;
}

.advantages__item h3 {
    font-size: 21px;
}

.advantages__item.detailed {
    background-color:#82b4d3;
    color:white;
}

.non-list__advantages {
    background-color: white;
}

.search-hotels__title {
    font-size:30px;
}

.button {
    font: inherit;
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.open-form {
    font-size: 21px;
    font-weight: bold;
}

.open-form:hover {
    background-color: #604e43;
}

.open-form:active {
    color: #76685f;
    background-color: #503e33;
}

.search-hotels__button {
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
}

.search-hotels__button:hover {
    background-color: #669ec0;
}

.search-hotels__button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.search-hotels label {
    font-weight: bold;
}

input[type="date"],
input[type="text"] {
    border: none;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}

input[type="date"]:hover,
input[type="text"]:hover {
    background-color: #ececec;
    border: 2px solid #ececec;
}

input[type="date"]:focus,
input[type="text"]:focus {
    border: 2px solid #e6e6e6;
    background-color: #ffffff;
    outline: none;
}

.calendar-button {
    background-color: #ececec;
    opacity: 0.4;
}

.calendar-button:hover {
    opacity: 1;
}

/*.calendar-button:active {
   fill: #81b3d2; требуется вставлять свг в хтмл код?
}*/ 

.minus {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    background-color: #ececec;
    opacity: 0.4;
}

.minus:hover {
    opacity: 1;
}

.minus:active {
    color: #82b5d3;
}

.plus {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    background-color: #ececec;
    opacity: 0.4;
}

.plus:hover {
    opacity: 1;
}

.plus:active {
    color: #82b5d3;
}

.hashtag {
    font-size:21px;
}

.social__list{
    list-style: none;
}

.social__item {
    width: 46px;
    height: 48px;
    background-color: #82b5d3;
}

.twitter:hover {
    background-color: #669fc2;
}

.twitter:active {
    background-color: #5397be;
}

.facebook:hover {
    background-color: #669fc2;
}
.facebook:active {
    background-color: #5397be;
}

.youtube:hover {
    background-color: #669fc2;
}

.youtube:active {
    background-color: #5397be;
}

/*    страница catalog*/

.hotel-filters {
    line-height: 21px;
    color: #ffffff;
    background-color: #1e191a;
    background-image: url("../img/filter_background.jpg"); 
    background-repeat: no-repeat;
}

.hotel-filters legend {
    font-size: 16px;
    font-weight: bold;
}


.hotel-filters input[type="checkbox"] {
    opacity: 0;
}


/*тут будут стили формы*/

.hotel-search__button {
    border: 2px solid #ffffff;
    background: none;
}

.hotel-search__button:hover {
    background-color: #ffffff;
    color: #000000;
}

.hotel__selected  > p:first-of-type {
    font-size: 21px;
}

.hotel__selected span {
    font-size: 12px;
}

.hotel-sort__list {
    list-style: none;
}

.hotel-sort__list a {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #82b5d3;
    color:#b2b2b2;
}
.hotel-sort__list a:hover {
    color: #92bed9;
}
.hotel-sort__list a:active {
    color: #000000;
    border-bottom: none;
}

.hotels__list {
    list-style: none;
}

}
.hotels-list h3 {
    font-size: 21px;
    font-weight: bold;
}

.hotels-list p {
    line-height: 21px;
}

.stars {
    width: 18px;
    height: 18px;
    background-image: url("../img/star.svg"); 
    background-repeat: space;
}

.star-4pc {
    width: 89px;   
}

.star-3pc {
    width: 66px;   
}

.star-2pc {
    width: 42px;   
}

.about__button {
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
}

.about__button:hover {
    background-color: #669ec0;
}

.about__button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.rent__button {
    font-size: 21px;
    font-weight: bold;
}

.rent__button:hover {
    background-color: #604e43;
}

.rent__button:active {
    color: #76685f;
    background-color: #503e33;
}

.hotels__item__rating {
    background-color: #f2f2f2;
}

.hotels__item__title:hover {
    color: #82b5d3;
}
.hotels__item__title:active {
    color: #b2b2b2;